[Unit]
Description=init casaos dir
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/init-casaos-dir.sh
StandardOutput=tty
StandardError=tty
TTYPath=/dev/pts/0
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
